*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // border: 1px solid black;
}


// font-family: 'Montserrat', sans-serif;
// font-family: 'Roboto', sans-serif;
// font-family: 'Roboto Slab', serif;

html{
  font-size: 15px;
}

@media screen and (max-width: 896px) {
  html{
      font-size:13px;
  }

}

a{
  text-decoration: none;
  color:inherit;
}

.flex{
  display: flex;
}
.justify-center{
  justify-content: center;
}

.align-center{
  align-items: center;
}

ul{
  list-style: none;
}