body{
    background-color: $bg-white;
    overflow-x: hidden;
}

header{
    height:max-content;
    display: block;
    padding:1vh calc(100% - 95%);
    justify-content: space-between;
}

// font-family: 'Montserrat', sans-serif;
// font-family: 'Roboto', sans-serif;
// font-family: 'Roboto Slab', serif;


.logo{
width:100px;
height: 120px;
margin-top: 10px;
}

.logo > img {
    width:100%;
    height:100%;
}



.nav-item{
    margin-left:1.5rem;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
        color:$light-black;

    .donate{
        color:$bg-white;
        background-color: $dark-green;
        padding:0.6rem 1rem;
        font-weight: 600;
        border-radius:3px;
        font-size: 1.1rem;

    }

    .d-active{
        background-color: $thick-orange;
        color: $bg-white;
    }

}

.active {
    color:$thick-orange;
    font-weight: 700;
    font-size: 1.1rem;
    position: relative;

    ::after{
        content:"";
        position: absolute;
        width:0.75rem;
        height:4px;
        bottom:-10px;
        right:40%;
        border-radius: 100px;
        background-color: $thick-orange;
    }
}

.open,.close{
    display: none;
}
.empty{
    height:1000px;
    width: 100vh;
}
// footer
footer{
    width:100vw;    
}

.footer-illustration{
    width:100%;
}

.footer-content{
    background-color:#101708;
    padding:1rem calc(100% - 90%);
    color:$bg-white;
    margin-top: -1rem;
    display: grid;
    width:100%;
    grid-template-columns: 15% 15% 35% 35%;

    .seva-name{
        grid-column: 1 / 2;
        grid-row: 1 / 10;

        h1{
            font-size:2.3rem;
            font-family: 'Montserrat', sans-serif;
            letter-spacing: 5px;
            font-weight: 900;
        }
    }

    .footer-page-links{
        grid-column: 2/3;
        grid-row:1/10;
        font-family: 'Roboto', sans-serif;
        margin-top:1rem;
        ul li{
            margin-bottom: 12px;
            font-size: 1.2rem;
            color:#B0B0B0;
        }

        .footer-links{
            transition: all 0.15s ease-in;
        }

        .footer-link:hover{
            color:$pink;
            transition: all 0.15s ease-in;
        }

    }

    .f-address{
        grid-column: 3/4;
        grid-row:1/6; 
        margin-top:1rem;
        font-family: 'Montserrat', sans-serif;

        h2{
            color: #EAA250;
            margin-bottom: 1rem;
            letter-spacing: 2px;
            font-size: 1.6rem;
        }

        p{
            color:#BBBBBB;
            font-size: 0.9rem;  
            line-height: 1.2rem;
        }
    }

    .f-enquires{
        grid-column: 4/5;
        grid-row:1/6;
        margin-top:1rem;
        color:#BBBBBB;
        font-family: 'Montserrat', sans-serif;

        h2{
            color: #EAA250;
            margin-bottom: 1rem;
            font-size: 1.6rem;
            letter-spacing: 2px;
        }

        .email-group{
            margin-bottom: 0.5rem;
            font-size: 0.9rem;
            letter-spacing: 1px;

            li{
                margin-bottom: 0.25rem;
            }
        }

        .phone-numbers{
            color:#f3f3f3;
        }
    }

    .social-links{
        grid-column: 3/5;
        grid-row:7/10;
        margin-top: 1.5rem;
        .social-link{
            margin: 5px 15px 5px 5px;

            a{
                background-color: $bg-white;
                padding:20px;
                width: 2.5rem;
                height: 2.5rem;
                border-radius: 100px;
            }
        }
    }

    .copyrights{
        grid-column: 1/5;
        grid-row: 11/12;
        margin-top: 1rem;
        
        h2{
            color:#5E5E5E;
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            font-size: 1rem;
        }
    }
}


// responsive


@media screen and (max-width: 1000px) {
  html{
      font-size:13px;
  }

  .logo{
    width:70px;
    height:85px;
}


  .footer-content{
        grid-template-columns: 20% 40% 40%;
      .seva-name{
          display: none;
      }

      .footer-page-links{
          grid-column: 1/2;
      }

      .f-address{
          grid-column: 2/3;
      }

      .f-enquires{
          grid-column: 3/4;
      }

      .social-links{
          grid-column: 2/4;
        margin-bottom: 1rem;
          .social-link{
              width:1.5rem;
              height:1.5rem;
              margin-right: 20px;
              a{
                  img{
                      width:1.1rem;
                      height:auto;
                  }
              }
          }

      }
  }

}

@media screen and (max-width: 632px){
    body{
        width: 100%;
}
    .nav-list{
        display:none;
    }

    .logo{
        padding: 0 0 0 10px;
        width:70px;
        height:85px;
    }

    .menu{
        position: relative;
        
        .open{
            display: flex; 
            img{
            width:25px;
            height: 25px;;
            }

            
        }

        .open-click, .close-click{
            display: none;
            transition: all 0.1s ease-in-out;
        }

        .close{
            display: flex;
            flex-direction: column;
            text-align: right;
            background-color: rgba(176, 255, 187, 0.85);
            width:100vw;
            height:100vh;
            top:0vh;
            left:100vw;
            z-index:10000;
            position:fixed;
            padding:3.25rem 1.5rem 0 0;
            transition: all 0.2s ease-in;
    
            
            .s-nav-list{
                .close-icon img{
                width:20px;
                height:20px;
                align-self: right;
                cursor: pointer;
                color:#fafafa;
                }
    
                .s-nav-item{
                font-size: 1.3rem;
                font-family: 'Montserrat', sans-serif;
                color:$black;
                margin-top: 1.5rem;
                font-weight: 500;
                }
    
                .s-active{
                    color:$thick-orange;
                    font-weight: 800;
                    font-size: 1.4rem;
                    padding:0.2rem 0.5rem;
                    
                }
    
                .s-donate{
                    padding:0.5rem 1rem;
                    background-color: #101708;
                    color:$bg-white;
                    letter-spacing: 2px;
                    font-weight: 600;
                }
            }
        }
    }

    


    .footer-content{
        grid-template-columns: 100%;
        grid-template-rows: max-content max-content max-content max-content max-content;
        .footer-page-links, .f-address, .f-enquires, .social-links, .copyrights{
            grid-column: 1/2;
        }

        .footer-page-links{
            grid-row: 1/2;
        }

        .f-address{
            grid-row: 2/3;
            line-height: 14px;
        }

        .f-enquires{
            grid-row: 3/4;
        }

        .social-links{
            grid-row: 4/5;
            justify-content: center;
            ul{ 
                height: 4rem;
             }
            .social-link{
                
                
                a{
                    img{
                        width:15px;
                        height:15px;
                    }
                }
            }

            
        }

        .copyrights{
            grid-row: 5/6;
        }
    }
}
