body{
    background-color: $bg-white;
}
header{
    width:100vw;
    height:calc(100%-95);
    display: block;
    padding:1vh calc(100% - 95%);
    justify-content: space-between;
}

// font-family: 'Montserrat', sans-serif;
// font-family: 'Roboto', sans-serif;
// font-family: 'Roboto Slab', serif;


.logo{
width:6rem;
height: 7rem;
}

.logo > img {
    width:100%;
    height:100%;
}


.nav-item{
    margin-left:1.5rem;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
        color:$light-black;

    .donate{
        color:$bg-white;
        background-color: $dark-green;
        padding:0.6rem 1rem;
        font-weight: 600;
        border-radius:3px;
        font-size: 1.1rem;

    }

}

.active {
    color:$thick-orange;
    font-weight: 700;
    font-size: 1.1rem;
    position: relative;

    ::after{
        content:"";
        position: absolute;
        width:0.75rem;
        height:4px;
        bottom:-10px;
        right:40%;
        border-radius: 100px;
        background-color: $thick-orange;
    }
}


// footer
footer{
    width:100vw;
    bottom: 0;  
}

.footer-illustration{
    width:100vw;
}

.footer-content{
    background-color:#101708;
    padding:1rem calc(100% - 90%);
    color:$bg-white;
    margin-top: -1rem;
    display: grid;
    width:100%;
    grid-template-columns: 15% 15% 35% 35%;

    .seva-name{
        grid-column: 1 / 2;
        grid-row: 1 / 10;

        h1{
            font-size:2.3rem;
            font-family: 'Montserrat', sans-serif;
            letter-spacing: 5px;
            font-weight: 900;
        }
    }

    .footer-page-links{
        grid-column: 2/3;
        grid-row:1/10;
        font-family: 'Roboto', sans-serif;
        margin-top:1rem;
        ul li{
            margin-bottom: 12px;
            font-size: 1.2rem;
            color:#B0B0B0;
        }

        .footer-links{
            transition: all 0.15s ease-in;
        }

        .footer-link:hover{
            color:$pink;
            transition: all 0.15s ease-in;
        }

    }

    .f-address{
        grid-column: 3/4;
        grid-row:1/6; 
        margin-top:1rem;
        font-family: 'Montserrat', sans-serif;

        h2{
            color: #EAA250;
            margin-bottom: 1rem;
            letter-spacing: 2px;
            font-size: 1.6rem;
        }

        p{
            color:#BBBBBB;
            font-size: 0.9rem;  
            line-height: 1.2rem;
        }
    }

    .f-enquires{
        grid-column: 4/5;
        grid-row:1/6;
        margin-top:1rem;
        color:#BBBBBB;
        font-family: 'Montserrat', sans-serif;

        h2{
            color: #EAA250;
            margin-bottom: 1rem;
            font-size: 1.6rem;
            letter-spacing: 2px;
        }

        .email-group{
            margin-bottom: 0.5rem;
            font-size: 0.9rem;
            letter-spacing: 1px;

            li{
                margin-bottom: 0.25rem;
            }
        }

        .phone-numbers{
            color:#f3f3f3;
        }
    }

    .social-links{
        grid-column: 3/5;
        grid-row:7/10;
        margin-top: 1.5rem;
        transform: translateX(5%);
        .social-link{
            margin: 5px 15px;

            a{
                background-color: $bg-white;
                padding:20px;
                width: 2.5rem;
                height: 2.5rem;
                border-radius: 100px;
            }
        }
    }

    .copyrights{
        grid-column: 1/5;
        grid-row: 11/12;
        margin-top: 1rem;
        
        h2{
            color:#5E5E5E;
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            font-size: 1rem;
        }
    }
}


